body {
    margin: 0;
}

#gauche {
    float: left;
    width: 70%;
    height: 1000px;
    background-color: #EFECCA;
    padding: 10px;
}

#droite {
    background-color: #CEFFF8;
    height: 1000px;
    padding: 10px;
    padding-left: 71%;
}

button, input {
    margin-right: 10px;
    margin-left: 10px;
}

span {
    font-weight: bold;
}

label {
    padding-left: 10px;
}