.ie7 #last_new_text {
    display: none;
}

.ie7 a {
    color: black;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f0f0e7;
}

a {
    color: black;
}

#block_body {
    margin: auto;
    width: 900px;
}

header {
    border-bottom: 1px solid black;
}

header h2 {
    font-weight: normal;
    display: inline-block;
}

#logo, header h1 {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
}

nav {
    display: inline-block;
    width: auto;
    text-align: right;
    margin-left: 290px;
    position: fixed;
    background-color: #778393;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;

}

nav li {
    display: inline-block;
    margin-right: 25px;

}

nav a {
    text-decoration: none;
    padding-bottom: 3px;
    color: black;
}

nav a:hover {
    border-bottom: 2px solid black;
    color: white;
}

#last_new {
    margin-top: 30px;
    position: relative;
    margin-bottom: 25px;
}

.last_new {
    height: 200px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px #1c1a19;
}

#last_new_text {
    font-weight: normal;
    color: white;
    font-size: 1em;
    position: absolute;
    height: 30px;
    width: 96%;
    padding-left: 4px;
    padding-top: 10px;
    bottom: 0;
    margin-bottom: 0;
    background-color: rgb(24, 24, 24);
    background-color: rgba(24, 24, 24, 0.8);
    border-radius: 5px 5px;
}

#home {

}

#home h1 {
    font-weight: normal;
}

#home img {
    float: left;
    margin-right: 15px;
}

#home p {

}

#home ul {
    list-style: circle;
}

#home a {
    text-decoration: none;
    color: black;

}

#home a:hover {
    border-bottom: 1px solid black;
}

#home img {
    border-radius: 5px;
    box-shadow: 3px 3px 3px #1c1a19;
}

footer {
    margin-top: 30px;
    border: 1px solid black;
    text-align: center;
}

#news {
    margin-top: 30px;
}

#news img {
    width: 324px;
    float: left;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #1c1a19;
}

#news article {
    margin-top: 50px;
    margin-bottom: 50px;
}

#infos {
    margin-top: 30px;
}

#infos img {
    height: 200px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #1c1a19;
}

#infos article {
    margin-bottom: 50px;
}

.activities {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
}

.activities td {
    text-align: center;
}

.activities tr:hover {
    background-color: #c3c3c3;
}

.contact {
    margin-top: 30px;
    text-align: center;
}

.buttons {
    text-align: center;
}

#login {
    text-align: center;
}

#research {
    border-radius: 5px 5px 5px 5px;
}

@media all and (max-width: 925px) {
    #block_body {
        width: auto;
    }

    header h2 {
        font-size: 1em;
    }

    nav {
        margin-left: 0;
        width: 100%;
        text-align: center;
        position: static;
    }

    nav li {
        display: block;
    }

    nav a:hover {
        border-bottom: 0;
    }

    .last_new {
        height: auto;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 2px #1c1a19;
        max-width: 100%;
    }

    #last_new_text {
        font-size: 0.8em;
        height: 20px;
        width: 100%;
        padding-top: 3px;
    }

    #home h1 {
        font-size: 1.1em;
        text-align: center;
    }

    #home img {
        float: none;
        height: auto;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #home p {
        font-size: 0.9em;
        text-align: center;
    }

    #home a {
        font-size: 1em;
    }

    #home a:hover {
        border-bottom: 0;
    }

    #news img {
        max-width: 100%;
        float: none;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #news h1 {
        font-size: 1.1em;
        text-align: center;
    }

    #news p {
        font-size: 0.9em;
        text-align: center;
    }

    #news article {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #infos img {
        height: auto;
        max-width: 100%;
    }

    #infos article {
        margin-bottom: 30px;
    }

    #infos h1 {
        font-size: 1.1em;
        text-align: center;
    }

    #infos p {
        font-size: 0.9em;
        text-align: center;
    }

    .activities th {
        display: none;
    }

    .activities td {
        display: block;
    }

    .activities td:before {
        content: attr(data-thead) " ";
        font-weight: bold;
    }

    .activities tr:hover {
        background-color: transparent;
    }

    .activities td {
        padding-bottom: 20px;
    }

    #contact label {
        display: block;
        text-align: center;
    }
}